body {
    background-image: url("img/background-8.jpg");
    text-align: center;
    font-family: 'Archivo', sans-serif;
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 20px;
}

a {
    color: black;
   background-color: #c8b6ff;
   text-decoration: none;
   width: 100%;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: 'Shrikhand', cursive;
   font-size: 35px;

}

h1 {
    margin-top: -50px;
}

.close {
    margin-bottom: 100px;
}

