li {
    list-style: none;
    float: left;
    padding: 33px 20px;
}

.header {
    height: 90px;
    font-family: 'Archivo', sans-serif;
    margin-right: 100px;
    margin-left: 100px;
  }
  
.header-logo {
    font-size: 25px;
    float: left;
    padding: 30px 40px;
    font-weight: bold;
  }

#carouselExampleControls {
  width: 600px;
  height: 600px;
}

.explore-creator {
  font-weight: bold;
}

.name {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    font-size: 80px;
    font-family: 'Shrikhand', cursive;
    color:#b185db;
    }
    
.by-you {
      position: absolute;
      transform: translate(-50%, -80%);
      top: 52%;
      left: 50%;
      font-size: 35px;
      font-family: 'Concert One', cursive;
      color:#b8c0ff;
      } 

body {
    background-image: url("img/background-8.jpg");
  }

.explore {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
  }
.copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
  }
.contents {
    display:flex;
  }
.item {
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
  }

.about {
    font-size: 60px;
    font-family: 'Archivo', sans-serif;
    font-style: italic;
  }

table {
    margin: 150px;
    margin-top: 120px;
  }
.issue {
  margin-left: 20px;
}


.form {
    text-align: center;
    padding: 20px 10px;
    font-family: 'Archivo', sans-serif; 
  }
.box {
    width: 50%;
    margin: 10px;
    padding: 20px;
}
.title-form {
  font-family: 'Archivo', sans-serif; 
  font-weight: bold;
  font-size: 30px;
}
.quest {
  font-family: 'Archivo', sans-serif; 
  font-weight: bold;
  font-size: 20px;
}
.desc-form-1 {
  font-family: 'Archivo', sans-serif; 
  font-size: 15px;
}
.desc-form-2 {
  font-family: 'Archivo', sans-serif; 
  font-size: 15px;
  margin-top: -20px;
}

.poetry-contents {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
}
.art-contents {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.ap-contents {
  display: flex;
  margin-left: 180px;
  margin-right: 50px;
}
.art-poetry {
  padding: 10px;
  margin: 10px;
  }
  .click-poetry {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
    margin-top: 20px;
  }

  .creator {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-weight: bold;
    font-size: 12px;
  }

  .submissions {
    text-align: center;
    margin-top: 100px;
  }
  .submit {
    font-family: 'Shrikhand', cursive;
  }
  .desc-sub-1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
  .desc-sub-2 {
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
    margin-top: -15px;
  }
.desc-sub-3 {
  font-family: 'Archivo', sans-serif;
  font-size: 15px;
  margin-top: -20px;
}

  .check {
    font-family: 'Archivo', sans-serif;
    margin-top: 100px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .instagram {
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
  }

  .footer {
    font-family: 'Archivo', sans-serif;
    margin-top: -100px;
  }
  
.closing {
    background-color: #c8b6ff;
    margin-top: 100px;
  }

.footer {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  margin-top: -200px;
}
.copyright {
  font-size: 15px;
  font-weight: bold;
}
.us {
  font-family: 'Archivo', sans-serif;
  text-align: center;
}


